---
// @ts-ignore

import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import styles from "./ui/link.astro";
import Link from "./ui/link.astro";
import Logos from "./data/logos.js";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Comapnies I worked for as employee</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    {
      Logos.map((logo, index) => (
        <Link style="transparent" href={logo.url} target="_blank">
          <Image
            alt={logo.name}
            src={logo.src}
            width={logo.width}
            height={logo.height}
            sizes="100"
            widths={["200", "500", "700"]}
          />
        </Link>
      ))
    }

    <!-- <a href="https://fineurop.it" target="_blank">
      <Image
      class="bg-white hover:bg-gray-50"
        class="h-8 md:h-12"
        src={LogoImage}
        width="100"
        height="50"
        alt={LogoImage}
      /></a
    >
    /> -->

    <!-- <Icon class="h-8 md:h-12" name="simple-icons:svelte" />
    <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-16" name="simple-icons:alpinedotjs" />
    <Icon class="h-8 md:h-12" name="simple-icons:vercel" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" /> -->
  </div>
</div>
