---
// @ts-ignore
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import LogoImage from "assets/logos/fineurop-logo.png";
import LogoImage2 from "assets/logos/merrill_lynch-logo.png";
import LogoImage3 from "assets/logos/UBS-logo.png";
import Link from "./ui/link.astro";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Comapnies I worked for</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a href="https://fineurop.it" target="_blank">
      <Image
        class="h-8 md:h-12"
        src={LogoImage}
        width="100"
        height="50"
        alt={LogoImage}
      /></a
    >
    <Image
      href="https://blackrock.com"
      class="h-8 md:h-12"
      src={LogoImage2}
      width="90"
      height="60"
      alt={LogoImage2}
    />
    <Image
      href="https://hines.com"
      class="h-8 md:h-12"
      src={LogoImage3}
      width="120"
      height="35"
      alt={LogoImage3}
    />

    <!-- <Icon class="h-8 md:h-12" name="simple-icons:svelte" />
    <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-16" name="simple-icons:alpinedotjs" />
    <Icon class="h-8 md:h-12" name="simple-icons:vercel" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" /> -->
  </div>
</div>
